@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
  --font-sans: "Lato", sans-serif;

  /* Palette */
  /* background */
  --smoky-black: #111100;
  --chinese-black: #171717;

  /* text */
  --bright-gray: #eeeeec;
  --white: #fff;
  --philippine-silver: #b5b3ad;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  background-color: var(--chinese-black);
  color: var(--white);
}

svg {
  width: 1.5rem;
}

.container,
.text__container {
  max-width: 800px;
  margin: 0 auto;
  padding: 8px 0;
  height: 100%;
  display: flex;
}

.text__container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  margin: 32px 0;
}

.post__wrapper {
  width: 100%;
}

@media (max-width: 830px) {

  .container,
  .text__container {
    padding: 8px 20px;
  }
}

@keyframes icon-toggle {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}